.container {

    .div1,
    .div2,
    .div3,
    .div4 {
        height: 100vh;
    }

    .div1 {
        background-color: pink;
    }

    .div3 {
        background-color: salmon;
    }

    .div2 {
        background-color: orangered;
    }

    .div4 {
        background-color: red;
    }
}